/*parte general pagina*/
*{  
    font-family: sans-serif;
}
body{
    margin: 0;
    background: f1fbff;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand{
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

}
.navbar-light.navbar-brand:focus,
.navbar-light.navbar-brand:hover{
    color: #000;
}
.navbar-light .navbar-nav .navbar-link{
    color:#000;
}
.w-100{
 height: 100vh;
}
.footer {
    height: 25%;
    background-color: rgb(22, 21, 21);
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-row {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.footer-links {
    width: 25%;
    padding: 0 15px;
}
.footer-links p{
    color: #FFFFFF;
    
}
.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links a {
    height: 12px;
    font-size: 12px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    text-align: center;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}
.social-links a:hover {
    background-color: #00C3FF;
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 10px;
    }
}
/*elementos contacto*/
.nosotros-pagina{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
    margin-bottom: 50px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo,textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius:3px ;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}
.container-form{
    background: #ffffff;
}
.info-form{
    margin-top: 15px;
}
.ingresos{
    margin-top: 25px;
    margin-bottom: 25px;
}
.ingresos .btn-enviar{
    align-items: center;
}
::-webkit-scrollbar{
    display: none;
}