*{  
    font-family: sans-serif;
}
body{
    margin: 0;
    background: f1fbff;
}
.section-padding{
    padding: 0px 0;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;

}
.carousel-caption{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p {
width: 60%;
margin: auto;
 font-size: 18px;
 line-height: 1.9;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand{
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

}
.navbar-light.navbar-brand:focus,
.navbar-light.navbar-brand:hover{
    color: #000;
}
.navbar-light .navbar-nav .navbar-link{
    color:#000;
}
.w-100{
 height: 100vh;
}

.servicios .card-body i{
    font-size: 50px;
    }
.portfolio .card{
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}
/*parte responsiva home*/
@media only screen and(min-width:768px)and(max-width:991px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
    .card{
        margin-bottom:30px ;
    }
    .img-area img{
        width: 100%;
    }
}
@media only screen and (max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }
    .nosotros-text{
        padding-top: 50px;
    }
    .card{
        margin-bottom: 30px;
    }
}
/*fin parte responsiva home*/
.container {
    max-width: 100%;
    margin: 0 auto;
}
/*footer*/
.footer {
    height: 25%;
    background-color: rgb(22, 21, 21);
    padding: 80px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links a {
    height: 12px;
    font-size: 12px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a {
    display: inline-block;
    text-align: center;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}
.social-links a:hover {
    background-color: #00C3FF;
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 10px;
    }
}

/*tarjetas*/
img {
    width: 80%;
}

.row{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 15px;
}

.column img{
    margin-top: 50px;
}

img h3{
    padding: 30px;
    text-align: right 40px;
}

@media (max-widht: 800px){
    .column{
        flex: 50%;
    }
}

@media (max-widht: 600px){
    .column{
        flex: 100%;
    }
}
::-webkit-scrollbar{
    display: none;
}
